@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>You can find additional information about Synerscope (Fun Co. ltd) here. To contact us, <a href="/Home/Contact">see here</a>.</p>
