@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>People & Hobbies</h1>
    <p class="lead">People & Hobbies is a web application for listing great people and their hobbies seamlessly, like never seen before!</p>
    <p><a href="/People" class="btn btn-primary btn-lg">See our great list &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Do you have a hobby?</h2>
        <p>We are looking for great people like you to list their hobbies in our registery. This way we can keep track of your everyday activities!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more...</h2>
        <p>We can share other people's hobbies with you. To get the list of any person's hobbies don't hesitate to become a premium member! Join NOW!</p>
        <p><a class="btn btn-default" href="/People">Join NOW!&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Are you full of Fun?</h2>
        <p>If you find yourself a funny person, then don't hesitate to send us your (and your families) full list of hobbies! We are looking for your amazing hobby list!</p>
    </div>
</div>